.container{
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    height: calc(100vh - 110px);
    display: flex;
    justify-content: space-between;
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 6px -10px rgba(0,0,0,0); 
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 6px -10px rgba(0,0,0,0);
    border-radius: 8px;
}

.text{
    padding: 50px;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: 300;
}

.text h1{
    margin-bottom: 50px;
    text-align: left;
}

.text p{
    margin-bottom: 20px;
}

.question{
    height: calc(100vh - 110px);
}

.question img{
    height: calc(100vh - 110px);
    object-fit: cover;
    border-radius: 0 8px 8px 0;
}



/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

  .space{
    display: flex;
    flex-direction: column;
    padding: 20px;
}

  .space-button{
      height: 100px;
      display: flex;
      justify-content: center;
      align-items: center;      
  }

  .btncoin{
      height: 50px;
      margin-right: 10px;
  }

  .text-content{
      margin-top: 60px;
      font-weight: 300;
      background-color: white;
  }

  .text-content h2{
      margin-bottom: 20px;
  }

  .btncoin{
    border: 1px solid #ffd32a;
    font-size: 10px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 65px;
    cursor: pointer;
  }